<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="history-body">
    <%- include("./partials/nav.ejs") %>

        <div style="margin: 20px 0; text-align: center">
        <button class="btn-default" onclick="window.location.href='/'"">Recent History</button>
        <button class="btn-disabled" disabled">Full History</button>
        </div>

    <% if (movies.length) { %>
    <div class="movie-grid">
      <% movies.slice(0, 4).forEach((movie) => { %>
      <a href="/movie/<%= movie._id %>" class="movie-card">
        <% let poster = movie.posterURL || movie.imgPoster; %> <% if (poster) {
        %>
        <img src="<%= poster %>" alt="Poster" class="movie-poster" />
        <% } %>

        <div class="movie-info">
          <h3><%= movie.title %> (<%= movie.year %>)</h3>
        </div>
      </a>
      <% }) %>
    </div>
    <% } else { %>
    <p>No movies yet...</p>
    <% } %>
  </body>
</html>
