<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navtest.ejs") %>

    <div>
      <h2><%= movie.title %> (<%= movie.year %>)</h2>

      <% if (movie.imgPoster) { %>
      <img
        src="<%= movie.imgPoster %>"
        alt="Poster of <%= movie.title %>"
        style="max-width: 200px; float: left; margin-right: 10px"
      />
      <% } %>

      <p>Actors: <%= movie.actors %></p>
      <p>Also known as: <%= movie.aka %></p>

      <% if (trailerURL) { %>
      <h3>Trailer:</h3>
      <video src="<%= trailerURL %>" controls style="max-width: 500px"></video>
      <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
